@media only screen and (max-width: 992px) {
	nav .brand-logo{
		left:0px;
		transform: translateX(0%);
	}
	nav .nav-wrapper {
		padding-top: 6vh;
	    position: relative;
	    height: 28vh;
	}
	#gspan {
		margin-left: 30vw;
	}
	#box {
		padding-top: 0;
		width: 90vw;
		margin: auto;
		margin-top: 23vh;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
		color: red;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
		color: black;
	}
}
@media only screen and (min-width: 992px) {
	nav .nav-wrapper {
		padding: 4vh;
	    position: relative;
	    height: 18vh;
	}
    nav .brand-logo {
		margin-left: 40px;
	}
	#navb {
		margin-left: -7vw;
		font-size: 48px;
	}
  	#box {
  		background-color: ;
  		height: 78vh;
  		width: 70vw;
		margin-top: 6vw;
	  	margin-left: 15vw;
	  	padding: 1vw;
	}
	.row .col.m3 {
		margin:0px;
	}
	.game {
		float: left;
		margin-left: 1vw;
		font-weight:400;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
		color: white;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
		color: #444444;
	}
}
