@media only screen and (max-width: 992px) {
	nav .brand-logo{
		left:0px;
		transform: translateX(0%);
	}
	nav .nav-wrapper {
		padding-top: 6vh;
	    position: relative;
	    height: 28vh;
	}
	#gspan
	{
		margin-left: 30vw;
	}
	#box{
		margin-top: 28vh;
		padding-top: 0;
	}
	#wel{
		margin-left:8vw;
		font-size: 28px;
		color: red;
	}
	#mform{
		margin-top: 10vw;
		margin-left: 14vw;
	}
	#sbutton
	{
		margin-top: 4vh;
		margin-left: 15vw;
	}
}
@media only screen and (min-width: 992px) {
	nav .nav-wrapper {
			padding: 4vh;
	    position: relative;
	    height: 18vh;
	}
    nav .brand-logo
	{
		margin-left: 40px;
	}
	#navb{
		margin-left: -7vw;
		font-size: 48px;
	}
  #box{
		margin-top: 8vw;
  	margin-left: 25vw;
  }
  #wel{
  	margin-top: 10vh;
  	margin-left: 12vw;
		font-size: 32px;
  }
	#sbutton
	{
		margin-top: 6vh;
		margin-left: 20vw;
	}
}
