@media only screen and (max-width: 992px) {
	nav .brand-logo{
		left:0px;
		transform: translateX(0%);
	}
	nav .nav-wrapper {
		padding-top: 6vh;
	    position: relative;
	    height: 38vh;
	}
	#lboard{
		position: absolute;
		margin-left: 18vw;
		margin-top: 20vh;
	}
	#gspan {
		margin-left: 30vw;
	}
	#cuser {
		font-size: 18px;
		margin-left: 10vw;
		margin-top:42vw;
	}
	#box {
		padding-top: 0;
		width: 90vw;
		margin: auto;
		margin-top: 3vh;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
		color: white;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
		color: #444444;
	}
}
@media only screen and (min-width: 992px) {
	nav .nav-wrapper {
		padding: 4vh;
	    position: relative;
	    height: 18vh;
	}
    nav .brand-logo {
		margin-left: 40px;
	}
	#navb {
		margin-left: -7vw;
		font-size: 48px;
	}
	#lboard {
		width: 18vw;
	}
	#cuser {
		margin-left: 45vw;
		margin-top:6vw;
	}
  	#box {
  		background-color: ;
  		height: 72vh;
  		width: 70vw;
		margin-top: 1vw;
	  	margin-left: 20vw;
	  	padding: 1vw;
	}
	.row .col.m3 {
		margin:0px;
	}
	.game {
		float: left;
		margin-left: 1vw;
		font-weight:400;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
		color: white;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
		color: #444444;
	}
	.card {
		height: 160px;
		width: 280px;
	}
}
